.circleContainer {
    margin-top: 50px;

    display: flex;
    gap: 20px;
    justify-content: center;
}

.btnContainer {
    display: flex;
    gap: 20px;

    justify-content: center;
}

.input {
    width: 300px;
}